
{sub_dirs, ["deps"]}.

{deps, [
    {'bear', ".*", {git, "git://github.com/folsom-project/bear.git", {tag, "0.8.2"}}},
    {meck, ".*", {git, "git://github.com/eproxus/meck", {tag, "0.8.2"}}}
]}.

{erl_opts, [
            debug_info,
            {platform_define, "19|20", use_rand}
           ]}.
{cover_enabled, true}.
