%% can be simplified further once bear has been published to hex to simply the atom
%% 'bear'
{deps, [
    {bear, "0.8.8"}
]}.

{erl_opts, [
            debug_info,
            {platform_define, "19|^2", use_rand},
            {platform_define, "18|19|^2", use_update_counter_4}
           ]}.

{profiles, [{test, [{deps, [meck, proper]}]}]}.

{cover_enabled, true}.
