%%% -*- mode: erlang -*-

{sub_dirs, ["deps"]}.

{deps, [
    {bear, ".*", {git, "git@github.com:folsom-project/bear.git", {ref, "1c7f37c6f62de2484797b595dbafa901225fc3d9"}}}
 ]}.

{profiles,
 [
  {test,
   [{deps,
     [{meck, "0.8.3"}
     ]}]
  }]
}.

{erl_opts, [debug_info]}.
{cover_enabled, true}.
